.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 74%;
    height: 200px;
    /* background: cornflowerblue; */
    float: left;
}

.writer {
    height: 25%;
    /* background: green; */
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.blog-profile {
    height: 100%;
    vertical-align: middle;
    float: left;
}

.blog-name {
    float: left;
}

.script {
    display: block;
    height: 50%;
    /* background: red; */
    margin-left: 5px;
    margin-right: 5px;
}

.blog-img {
    width: 24%;
    height: 200px;
    float: right;
}