.nav-container {
    background-color: beige;
    height: 70px;
}

.nav-emptybox {
    display: inline-block;
    /* 브라우저 사이즈에 따라 Service가 아래로 넘어가는 이유
    = 박스 width=75%(변동폭)인데 글자들 크기는 고정폭이기 때문 */
    width: 75%;
}

.nav-item {
    display: inline-block;
    padding-left: 20px;
    margin: 0px;
    /* ie 10 미만에서 이상한 margin이 생기는 이유 = 불명 */
}