h1, h2, h3, h4, p {
    margin: 0px;
}

.bg-skyblue {
    background: #6fbaf8;
}

.text-skyblue {
    color: #6fbaf8;
}

.border-skyblue {
    border-bottom-color: #6fbaf8 !important;
}

.fs-vw {
    font-size: 0.7vw;
}

.profile-box {
    border-right: 2px solid #f7f9fc !important;
}

.people {
    visibility: visible;
}

@media screen and (max-width: 768px){
    .profile-box {
        border-right: none;
    }

    .fs-vw {
        font-size: 1.8vw;
    }

    .people {
        visibility: hidden;
    }
}