h1, h2, h3, h4, p {
    margin: 0px;
}

.bg-skyblue {
    background: #6fbaf8;
}

.text-skyblue {
    color: #6fbaf8;
}

.border-skyblue {
    border-bottom-color: #6fbaf8 !important;
}

.fs-vw {
    font-size: 0.7vw;
}

.profile-box {
    border-right: 2px solid #f7f9fc !important;
}

.people {
    visibility: visible;
}

/* box-shadow = x,y축 이동량, blur, spread, 색상 */
/* .white-box {
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 2px 1px #eee;
} */

/* span 태그는 inline이라 우측 정렬됨 */
/* inline-block 줘서 좌측 정렬 */
/* .pill {
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 100px;
	padding: 3px 12px 5px 12px;
	margin-right: 2px;
	margin-bottom: 5px;
} */

@media screen and (max-width: 768px){
    .profile-box {
        border-right: none;
    }

    .fs-vw {
        font-size: 1.8vw;
    }

    .people {
        visibility: hidden;
    }
}